<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="searchText">Email address</label>
            <input type="text" class="form-control" id="searchText" placeholder="Email" ng-model="searchField">
        </div> 
    </div>
</div>
<section>

    <div 
        ng-repeat="post in posts | filter:searchField" class="am-fade panel panel-default">

        <div class="panel-heading" data-match-route = '/#!/article/{{post.id}}'>


            <h1><a ng-href="article/{{post.id}}">{{post.title}}</a></h1>

        </div>

        <div class="panel-body">
            <article ng-bind-html="post.content"></article>
            {{post.body}}
        </div>
    </div>

</section>
